html{
    scroll-behavior: smooth;
}
html, body{
    margin:0;
}
#entradas{
    border-style: solid;
    background-color: blue;
    text-align: center;
    /*POSITION*/
    position: absolute;
    bottom: 0;
    right: 0;
    /*BOX :*/
    width: 300px;
    border: 15px solid green;
    padding: 10px;
    margin: 10px;
}
#main{
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75vh, 75vw;
    object-fit: cover;
}
#proj{
    background-color: white;
}
#contacte{
    background-color: white;
}
.pantallaCompleta{
    min-width:100vw;
    min-height:100vh;
}
.botonNavDown{
    bottom: 0px;
    display: block;
    margin: auto;
}
#NavBar{
    background-color: white;
}

#tituloFAQ{
    padding: 16px;
    background-color: crimson;
}

#contenidoFAQ{
    padding: 16px;
    margin: 16px;
}



a{
    text-decoration: none;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}


