html{
    scroll-behavior: smooth;
}
#main{
    //background-color: aqua;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vh, 100vw;
    object-fit: cover;
}
#proj{
    background-color: red;
    padding: 64;
}
.pantallaCompleta{
    min-width:100vw;
    min-height:100vh;
}
#myTopnav {
    height: 50px;
    position: fixed;
    top: 0;
}

.botonNavDown{
    bottom: 0px;
    display: block;
    margin: auto;
}
#NavBar{
    background-color: white;
}

#tituloFAQ{
    padding: 16px;
    background-color: crimson;
}

#contenidoFAQ{
    padding: 16px;
    margin: 16px;
}



a{
    text-decoration: none;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}


.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    height: 10%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}



.btn-acordion {
    margin: 10px;
}
