html, body{
    margin:0;
}
#entradas{
    border-style: solid;
    background-color: blue;
    text-align: center;
    /*POSITION*/
    position: absolute;
    bottom: 0;
    right: 0;
    /*BOX :*/
    width: 300px;
    border: 15px solid green;
    padding: 10px;
    margin: 10px;
}
#main{
    background-image: url("Logo1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75vh, 75vw;
    object-fit: cover;
}
#proj{
    background-color: white;
}
#contacte{
    background-color: white;
}
.pantallaCompleta{
    width:100vw;
    height:100vh;
}
.botonNavDown{
    bottom: 0px;
    display: block;
    margin: auto;
}
#NavBar{
    background-color: white;
}
footer{
    padding: 16px;
}
#tituloFAQ{
    padding: 16px;
    background-color: crimson;
}

#contenidoFAQ{
    padding: 16px;
    margin: 16px;
}