/*
w3-container: equal margins, paddings & alignments
w3-padding-64 : 64px padding top & bottom  
w3-margin:  16px margin all sides
w3-section: 16px top & bottom
*/

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100vh;
    width: 100vw;
    /*background-image: url(css/fondo1.jpg);*/
    /*background-position: center right;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
}

section {
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

.fullScreen {
    min-height: 100vh;
    min-width: 100vw;
    /*max-height: 100vh;*/
    max-width: 100vw;
}
.fullScreenIni {
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
}
#mainPhoto {}

#myTopnav {
    height: 50px;
    max-height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
}

#myTopnav a {
    z-index: 1;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
}

#myTopnav a:hover {
    background-color: #ddd;
    color: black;
}

#myTopnav .iconR {
    display: none;
}

.btn-acordion {
    margin: 10px;
}

#main {
    background-color: green;
}

#proj {
    background-color: blue;
}

#faqs {
    background-color: red;
}

#titleFAQ {
    text-decoration: overline;
}

h4 {
    
}
